#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FEDF00;
  background-image: url('/images/Background.png');
  background-size: cover;
  background-position: center;
  font-family: 'Varela Round', sans-serif;
}

.Calculator {
  width: 839px;
  height: 753px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/images/Backcalculator.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}

.Display {
  width: 100%;
  max-width: 450px;
  text-align: right;
  padding: 50px;
  border-radius: 5px;
  background-image: url('/images/visor.svg');
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 15px;
  margin-bottom: -40px;
}

.Screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 250px;
  width: 100%;
  padding: 100px;
  padding-top: 115px;
  box-sizing: border-box;
}

.LastOperation, .CurrentOperation {
  text-align: right;
  margin: 5px 0;
  min-height: 15px;
  display: flex;
}

.LastOperation {
  color: rgb(165, 165, 165);
  font-size: 14px;
}

.CurrentOperation {
  color: white;
  font-size: 35px;
  color: #FEDF00;
}


.ButtonsContainers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  width: 280px;
  padding-right: 30px;
  outline: none; 
}


button {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  width: 90%;
  font-size: 23px;
  color: white;             
  border: none;            
  border-radius: 100%;     
  cursor: pointer;      
  outline: none;    
}

button:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
  transform: scale(1.05);
}

button:active {
  background-color: #888;
  outline: none;
}

button:focus {
  outline: none;
}

.button-number {
  background-color: #EDEDED;
  color: #1F1F1F;
}

.button-number:hover {
  background-color: #FEDF00;
  color: rgb(0, 0, 0);
  transform: scale(1.0.5);
}

.button-number:focus {
  outline: none;
}

.button-operator {
  background-color: #1F1F1F;
  color: #ffffff;
}

.button-equal {
  background-color: #1F1F1F;
  color: #ffffff;
}

.button-decimal {
  background-color: #1F1F1F;
  color: #ffffff;
}

.button-reset {
  background-image: url('/images/reset.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100px;
  margin-right: 550px;
  cursor: pointer;
  padding: 0;     
  border-radius: 0;  
}

.button-reset:hover {
  background-image: url('/images/reset.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100px;
  margin-right: 550px;
  cursor: pointer;
  padding: 0;     
  border-radius: 0;  
}